  .dark,
  .dark .menu.active {
      background-color: #263238;
  }

  .dark .logo {
      color: #FFF;
  }

  .dark .bi-sun {
      display: none;
  }

  .dark .bi-moon {
      display: block;
      color: #f5f1f1;
  }
  
  .dark .links a,
  .dark .sideMenu i,
  .dark .home-info h2,
  .dark .home-info > span,
  .dark .benefits-cards .card p{
    color: #f5f1f1;
  }